{
  "extends": [
    "semistandard",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 80,
      "ignorePattern": "^(import|export)\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true
    }],
    "import/no-unresolved": "off"
  },
  "globals": {
    "describe": true,
    "it": true,
    "should": true,
    "expect": true,
    "sinon": true,
    "before": true,
    "after": true,
    "beforeEach": true,
    "afterEach": true,
    "fixture": true,
    "test": true
  },
  "overrides": [{
    "files": "*.spec.js",
    "rules": {
      "no-unused-expressions": "off"
    }
  }]
}
