{
  "parser": "babel-eslint",
  "extends": [
    "semistandard"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "max-len": ["error", {
      "code": 80,
      "ignorePattern": "^(import|export)\\s.+\\sfrom\\s.+;$",
      "ignoreUrls": true,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }]
  },
  "globals": {
    "describe": true,
    "it": true,
    "should": true,
    "beforeEach": true,
    "afterEach": true
  },
  "overrides": [{
    "files": "*.{test,spec}.js",
    "rules": {
      "no-unused-expressions": "off"
    }
  }]
}
